{% load static %}
<header class="container-fluid fixed-top bg-nav m-0 p-0">
    {% include 'includes/header/nav.html' %}
    {% include 'includes/header/mobile-nav.html' %}
    <div class="row pt-1 pb-2 px-5 d-none d-md-flex d-xl-none search-nav-lg ">
        <form class="d-md-flex nav-search px-5" role="search" method="GET" action="">
            <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
            <button class="btn btn-nav-search" type="submit">
                <i class="fas fa-search fa-xl"></i>
            </button>
        </form>
    </div>
</header>