{% load static %}
<div class="row mt-4">
    <div class="col">
        <a class="nav-link nav-txt" aria-current="page" href="{% url 'home' %}" aria-label="Go to home page">Home</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to menus">Menus</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to dish book">Dish Book</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to sauce book">Sauce Book</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="nav-link nav-txt" aria-current="page" href="{% url 'recipe-manager' %}" aria-label="Go to recipe book">Recipe Book</a>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <a class="nav-link nav-txt" aria-current="page" href="{% url 'product-manager' %}"
            aria-label="Go to product manager">Products</a>
    </div>
</div>