<div class="row mt-0 pt-0">
    <div class="col mt-0 pt-0">
        <p class="nav-side-headers m-0 p-0"> Account</p>
        <hr class="nav-line m-0 p-0 pb-1">
        <a class="nav-link login nav-side-txt" href="">Login</a>
        <a class="nav-link login nav-side-txt" href="">Logout</a>
        <a class="nav-link login nav-side-txt" href="">Register</a>
    </div>
    <div class="col mt-4">
        <p class="nav-side-headers m-0 p-0"> Admin</p>
        <hr class="nav-line m-0 p-0 pb-1">
        <a class="nav-link login nav-side-txt" aria-current="page" href="">Admin Pannel</a>
    </div>
</div>