<div class="row mt-0 pt-0">
    <div class="col mt-0 pt-0">
        <p class="nav-txt m-0 p-0"> Account</p>
        <hr class="m-0 p-0 pb-1">
        <a class="nav-link nav-txt" href="" aria-label="Go to login">Login</a>
        <a class="nav-link nav-txt" href="" aria-label="Go to logout">Logout</a>
        <a class="nav-link nav-txt" href="" aria-label="Go to register">Register</a>
    </div>
    <div class="col mt-4">
        <p class="nav-txt m-0 p-0"> Admin</p>
        <hr class="m-0 p-0 pb-1">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to admin pannel">Admin Pannel</a>
    </div>
</div>