{% load static %}
<nav class="navbar navbar-expand-md fixed-top d-flex d-md-none bg-nav">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start bg-nav" tabindex="+1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header mb-0 pb-0">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-4">
            {% include 'includes/header/mobile-nav-items.html' %}
        </div>
    </div>
    <div class="d-block d-md-none bg-nav">
        <h5 class="text-center">Products to Menu</h5>
    </div>
    <button class="navbar-toggler navbar-toggler-ac" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbarl" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-toggler-icon-ac"></i></span>
    </button>
    <div class="offcanvas offcanvas-end bg-nav" tabindex="-1" id="offcanvasNavbarl"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header mb-0 pb-0">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mt-1 pt-0">
            {% include 'includes/header/mobile-account-nav-items.html' %}
        </div>
    </div>
</nav>