{% load static %}
<ul class="navbar-nav justify-content-evenly flex-grow-1">
    <li class="nav-item">
        <a class="nav-link nav-txt" aria-current="page" href="{% url 'home' %}" aria-label="Go to home page">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to menus">Menus</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to dish book">Dish Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to sauce book">Sauce Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" aria-current="page" href="" aria-label="Go to recipe book">Recipe Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-txt" aria-current="page" href="{% url 'product-manager' %}" aria-label="Go to product manager" rel="opener">
            Products
        </a>
    </li>
</ul>
<ul class="navbar-nav justify-content-end">
    <li class="nav-item dropdown d-none d-md-flex me-2">
        <a class="nav-link nav-txt" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            <i class="fa-solid fa-user-gear fa-md"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-md-end bg-nav-dropdowns">
            <li>
                <p class="nav-txt mb-0 pb-0 ps-2"> Account</p>
            </li>
            <li>
                <hr class="nav-line my-0 py-0 pb-1">
            </li>
            <li><a class="dropdown-item nav-txt" href="" aria-label="Go to logout">Logout</a></li>
            <li><a class="dropdown-item nav-txt" href="" aria-label="Go to register">Register</a></li>
            <li><a class="dropdown-item nav-txt" href="" aria-label="Go to login">Login</a></li>
            <li>
                <p class="nav-txt mb-0 pb-0 ps-2 pt-2"> Admin</p>
            </li>
            <li>
                <hr class="nav-line my-0 py-0 pb-1">
            </li>
            <li><a class="dropdown-item nav-txt" aria-current="page" href="" aria-label="Go to admin pannel">Admin Pannel</a></li>
        </ul>
    </li>
</ul>