@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /*--- Fonts ---*/
    --headers: 'EB Garamond', serif, arial;
    --text-fonts: 'Roboto', serif, arial;

    /*--- Colours ---*/
    --white: #fff;
    --yellow: #fffb00;
    --bg-color: #a0a0a0;
    --red: #770b0b;
    --black: #000;
    --card-body: #c4c4c4;
    --form-bg: #426b79;

    /*--- Buttons ---*/
    --btn-border: 2px solid var(--white);
    --btn-border-hover: 2px solid var(--yellow);
    --black-border: 2px solid var(--black);

    /*--- Shadows ---*/
    --bt-shadows: 5px -3px 15px 0px var(--black);
    --yellow-shadow: 0px 6px 2px -4px var(--yellow);
    --form-shadow: 10px -3px 25px 2px var(--black);

    /*--- borders ---*/
    --form-border: 3px solid var(--red);
    --view-border: 4px ridge var(--black);  
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--text-fonts);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headers);
}

/*------------ Header ------------*/
/*--- Nav ---*/
.nav-txt:hover,
.bg-nav-dropdowns,
.bg-nav {
    background-color: var(--red);
}

.nav-txt {
    color: var(--white);
    font-size: 20px;
    font-family: var(--headers);
}

.nav-txt:hover {
    color: var(--yellow);
    box-shadow: var(--yellow-shadow);
}

.logo {
    width: 3.5em;
    height: 1.75em;
}


/*--- Sreens below md ---*/

.navbar {
    --bs-navbar-toggler-icon-bg-ac: url("../icons/user-gear-solid.svg");
    --bs-navbar-toggler-icon-bg: url("../icons/bars-solid.svg");
    --bs-navbar-toggler-transition: none;
}

.navbar-toggler-icon-ac {
    background-image: var(--bs-navbar-toggler-icon-bg-ac);
}

.navbar-toggler-ac {
    border: none;
    transition: none;
}

.navbar-toggler-icon {
    width: 1.25em;
    height: 1.25em;
}

.navbar-toggler-icon-ac:hover {
    --bs-navbar-toggler-icon-bg-ac: url("../icons/user-gear-solid-yellow.svg");
}

.navbar-toggler-icon:hover {
    --bs-navbar-toggler-icon-bg: url("../icons/bars-solid-yellow.svg");
}

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
    --bs-offcanvas-width: 150px
}

/*------------ Footer ------------*/

footer {
    background-color: var(--red);
    height: 50px;
}

.footer-txt {
    color: var(--white);
    font-size: 20px;
}

.footer-txt:hover {
    color: var(--yellow);
}

.footer-icons{
    width:30px;
}

/*------------ Selects and Inputs ------------*/
select {
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: var(--red);
    border: var(--btn-border);
    color: var(--white);
    border-radius: 5px;
    padding: 2px 5px;
    height: 40px;
    box-shadow: var(--bt-shadows);
    font-family: var(--headers);
    font-size: 18px;
    text-align: center;
    min-width: 160px;
}

select:hover {
    border: var(--btn-border-hover);
    color: var(--yellow);
}

option {   
    color: var(--white);
}

input[name='q']::placeholder {
    color: #9709097c;
}

input[name='q'] {
    border: var(--black-border);
}

/*------------ Buttons ------------*/
.btn-all,
.btn-side-search,
.btn-nav-search {
    border: var(--btn-border);
    color: var(--white);
    background-color: var(--red);
}

.btn-all {
    min-width: 70px;
    max-width: 180px;
    box-shadow: var(--bt-shadows);
}

.btn-all:hover {
    color: var(--yellow);
    border: var(--btn-border-hover);
    background-color: var(--red);
    cursor: pointer;
}

.btn-add {
    padding: 2px;
}

.btn-add:hover {
    background-color: var(--yellow);
    border-radius: 50%;
}

/*------------ Forms --------------*/
.form-bg {
    background-color: var(--form-bg);
    border: var(--form-border);
    box-shadow: var(--form-shadow);
}

.form-txt {
    font-size: 20px;
    font-weight: 400;
}

/*------------ Generic ------------*/
.box-bg {
    background-color: var(--bg-color);
}

.error{
    background-color: var(--bg-color);
    color: var(--red);
    padding: 3px;
}
/*------------ Media Queries ------------*/

