{% load widget_tweaks %}
<div class="row justify-content-center">
    <div class="col-10 mb-1 text-center">
        <div class="row">
            {{ form.recipe_name|add_label_class:"label form-txt" }}
        </div>
    </div>
    <div class="col-10 mb-2 text-center">
        <div class="row">
            {% render_field form.recipe_name class="input rounded-2" %}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 mb-1 text-center">
        <div class="row">
            {{ form.description|add_label_class:"label form-txt" }}
        </div>
    </div>
    <div class="col-10 mb-2 text-center">
        <div class="row">
            {% render_field form.description class="input rounded-2" %}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 mb-1 text-center">
        <div class="row">
            {{ form.portions|add_label_class:"label form-txt" }}
        </div>
    </div>
    <div class="col-10 mb-2 text-center">
        <div class="row">
            {% render_field form.portions class="input rounded-2" %}
        </div>
        {% for error in form.portions.errors %}
            <p class="error mt-1 text-center"> {{ error }}</p>
        {% endfor %}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 mb-1 text-center">
        <div class="row">
            {{ form.category|add_label_class:"label form-txt" }}
        </div>
    </div>
    <div class="col-10 mb-2 text-center">
        <div class="row">
            {% render_field form.category class="select sort-select" %}
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 mb-1 text-center">
        <div class="row">
            {{ form.subcategory|add_label_class:"label form-txt" }}
        </div>
    </div>
    <div class="col-10 mb-2 text-center">
        <div class="row">
            {% render_field form.subcategory class="select sort-select" %}
        </div>
    </div>
</div>