{% load static %}
<footer class="fixed-bottom">
    <div class="row justify-content-evenly pt-2">
        <div class="col-4">
            <div class="row">
                <a class="footer-txt text-center" href="https://github.com/A-Croshaw/Menu_Manager" target="_blank"
                    rel="npppener" aria-label="Github - Opens in a new tab">
                    <img src="{% static '/icons/github-icon.svg' %}" alt="Github Icon" class="footer-icons">
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <a class="footer-txt text-center" href="" target="_blank" rel="noopener" class="text-center"
                    aria-label="Privacy Policy - Opens in a new tab">
                    Privacy Policy
                </a>
            </div>
        </div>
    </div>
</footer>